table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#koalaTable, #viewKoalas{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.top{
 background-color:rgb(0, 136, 255); 
}

.icon{
  width: 150px;
  height: auto;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 25px;
}
